.project{
    margin-top: 150px;
    /* background-color: red; */
    
    width: 70%;
    margin-left: 250px;
    
}

.project-tittle{
    justify-items: center;
    margin-top: 70px;
}

.project-heading{
    font-size: 40px;
    color: white;
    padding: 0;
    margin-bottom: 0;

}

.project-hr{
    height: 5px;
    width: 210px;
    background-color: yellow;
    
    margin-top: 0;
}

.project-desc{
    margin-left: 30px;
   font-size: 22px;
   font: bolder;
   font-weight: bolder;
   color: rgb(241, 202, 202);
   

}

.project-container{
    /* background-color: rgb(31, 12, 12); */
    height: 500px;
    width: 270px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.4s ease;
    
}

.project-container:hover{
    margin-top:10px;
    box-shadow: 0px 0px 10px 10px rgb(56, 16, 234)
}

.project-section-image{
    height: 150px;
    width: 230px;
    border-radius: 10px;
    
}

