.hero-bg {
  position: relative;
height: 700px;

  background-color: #050816;
  overflow: hidden;
}

/* GRID LAYER */
.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);

  background-size: 14px 24px;

  /* top fade like your image */
  -webkit-mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );

  pointer-events: none;
}

/* PURPLE LEFT GRADIENT GLOW */
.hero-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at left, #6d28d955, transparent 40%);
  pointer-events: none;
}









.left{
    /* background-color: red; */
    height: 700px;
    width: 50%;
}

.right{
    /* background-color: blue; */
    width: 50%;
    height: 700px;
}

.name-section{
    margin-left: 300px;
    margin-top: 200px;
}

.name-section h1{
   font-size: 50px;
   font: 400;
   font-weight: bolder;
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.name-section h2{
    margin: 0px;
    font-size: 30px;
    color: white;
   
}

.desc{
    color: white;
    margin-left: 300px;
    margin-top: 30px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}