.hero-main{
    display: flex;
   
}



.left{
    /* background-color: red; */
    height: 700px;
    width: 50%;
}

.right{
    /* background-color: blue; */
    width: 50%;
    height: 700px;
}

.name-section{
    margin-left: 300px;
    margin-top: 200px;
}

.name-section h1{
   font-size: 50px;
   font: 400;
   font-weight: bolder;
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.name-section h2{
    margin: 0px;
    font-size: 30px;
    color: white;
   
}
.desc{
    font-size: larger;
    color: rgb(188, 185, 185);
}

.hero-button{
    padding: 15px;
    width: 200px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-size: larger;
    background: blueviolet;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font: bolder;
    cursor: pointer;
    box-shadow: inset;
}

.hero-button:hover{
    scale:calc(1.05);
}