.experience-tittle{
    justify-items: center;
    margin-top: 70px;
}

.exp-hr{
    height: 5px;
    width: 250px;
    background-color: yellow;
    
    margin-top: 0;
}

.exp-conatiner{
    position: relative;
    
    width: 900px;
    
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 100px;
    top: 0;
    z-index: 1;
    
   
}

.line {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 4px;         
  background-color: white;
  height: 90%;
  z-index: -1;
  
}


@media (min-width: 640px) {
  .line {
    left: 50%;
    transform: translateX(0);
  }
}

.exp-conatiner1{
   margin-left: 330px;
    height: 500px;
    width: 500px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    
    justify-self: end;
    margin-right: 70px;
    border-radius: 20px;
    border: 2px solid white;
    
    transition: all 0.4s ease;
   
}

.exp-conatiner1:hover{
    box-shadow: 0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
    transform: translateY(-5px) scale(1.02); 
}

.exp-conatiner2{
    height: 500px;
    width: 500px;
  background-color: transparent;
    backdrop-filter: blur(50px);
    margin-left: 80px;
    border-radius: 20px;
     border: 2px solid white;
     transition: all 0.4s ease;
}

.exp-conatiner2:hover{
    box-shadow: 0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
    transform: translateY(-5px) scale(1.02); 
}

.exp-company-logo{
    
    height: 130px;
    width: 200px;
align-content: center;
}
.exp-company-info{
   
    width: 100%;
    color: white;
}

.exp-company-info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(161, 166, 161);
}

.exp-desc{
    margin: 30px;
    
   
}

.exp-desc p{
    font-size: larger;
    color: rgb(188, 185, 185);
    
}

.exp-skills{
    background-color: blueviolet;
    padding: 8px;
    min-width: 90px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 3px solid yellow;
    border-right:2px solid yellow ;
    
}

