



.skill-container{
   justify-items: center;
 
   

    
}
.skill-heading{
    font-size: 40px;
    color: white;
    padding: 0;
    margin-bottom: 0;
   
}
.hr{
    height: 6px;
    width: 150px;
    background-color: yellow;
    
    margin-top: 0;
}

.skill-desc{
   margin-left: 400px;
   font-size: 20px;
   font: bolder;
   color: rgb(241, 202, 202);
}

.skill-sections{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    
    
   
}

.skills-section{
    
    width: 41%;
    height: 350px;
     margin-left: 100px;
     margin-top: 20px;
     border: 2px solid rgb(251, 252, 251);
     border-radius: 15px;
     color: rgb(161, 166, 161);
     font: bolder;
   
  background-color: #1a202c;
   box-shadow: 0 0 20px 1px rgba(130,69,236,0.3);
 
}
.skills-section:hover{
  border-color:#00ffff;
  box-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
}
.skill-innner-container{
   width: 600px;
   height: 300px;
    
    flex-wrap: wrap;
    
    
    
    
    
    
}

.skill-inner-conatainer-tittle{
    margin-left: 240px;
    
    color: rgb(149, 137, 137);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.skill-inner-conatainer-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-box{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(211, 209, 209);
    
    width: 150px;
    height: 60px;
    border-radius: 20px;
    
    align-items: center;
     margin-left: 25px;
     
}
.skill-box img{
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-left: 15px;
   
   
}